<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.broadcasttest2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">

            <!--
                <intent-filter>
                <!-<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            -->
            <!-- </intent-filter> -->
        </activity>

        <receiver
            android:name=".activity.AnthorBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.example.dell.paomadeng.BroadCastReceiver" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
上面的intent-filter是用来设置主界面的，
            只有在对应的activity下面设置了intent-filter才能表示这个是主界面，如果没有的话，就会按照默认的方式，
            认为上面的是主界面
            -->
        </activity>

        <provider
            android:name=".DatabaseProvider"
            android:authorities="com.example.dell.databasetest.provider"
            android:enabled="true"
            android:exported="true"></provider>
    </application>

</manifest>